* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* parte anteprima live utenti */
.contenitore {
    height: calc(100vh - 58px);
    background-color: black;
}

.contenitore .button {
    display: flex;
    margin-left: 90%;
    height: 40px;
}

.button button {
    margin: 10px 0;
}

    /* CONTENITORE FRECCIE E PHOTO */
.utente {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    align-items: center;
}

.pagina_a_b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagina_a_b button {
    font-size: 30px;
    margin-bottom: 10px;
}

.pagina_a_b span {
    color: white;
}

.client { 
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    overflow-y:scroll;
}

.photo{
    display: flex;
    align-items: flex-end;
    width: calc(99% / 5);
    margin: 1px;
    height: 20%;
    background-image: url(../img/review_utente.png);
    background-size: cover;
    cursor: pointer;
}

.client span {
    color: white;
    vertical-align: bottom;
    background-color: rgba(68, 68, 68, 0.8);
    margin-left: 4px;
    vertical-align: bottom;

}



    /* BARRA DI NAVIGAZIONE */
.main_nav {
    height: auto;
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

    /* TASTI MICROFONO/VIDEO */
.mute_stop {
    display: flex;
    align-items: center;
    text-align: center;
}

.microfono, .video {
    margin: 0 10px;
    cursor: pointer;
}

.microfono, .video span {
    color: white;
}

    /* BARRA CENTRALE  */
.icone {
    display: flex;
    align-items: center;
    text-align: center;
}

.icone span {
    margin: 10px;
    color: white;
    cursor: pointer;
}

    /* BARRA DESTRA END MEETING */
.end_meeting {
    display: flex;
    align-items: center;
    text-align: end;
    color: rgb(255, 98, 98);
    padding: 0 10px;
    cursor: pointer;
     background-color: rgb(77, 76, 76);
}

.end_meeting:hover {
   background-color: rgb(100, 98, 98);
}


