* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* parte anteprima live utenti */
.contenitore {
    height: calc(100vh - 100px);
    background-color: black;
}

.contenitore .button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    margin: 10px 0;
}

.utente {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    align-items: center;
    /* background-color: yellow; */
}

.pagina_a_b {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    /* height: 20%; */
    /* background-color: yellow; */
}

.pagina_a_b button {
    font-size: 30px;
    margin-bottom: 10px;
}

.pagina_a_b span {
    color: white;
}

.client { 
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    background-color: blueviolet;
}

.photo {
    width: 20%;
    height: 20%;
}

.photo img {
    max-width: 100%;
}









    /* barra di navigazione */
.main_nav {
    height: 100px;
    background-color: rgb(77, 76, 76);
    display: flex;
    justify-content: space-between;
}

    /* TASTI MICROFONO/VIDEO */
.mute_stop {
    display: flex;
    align-items: center;

    /* debug */
    /* background-color: yellow; */
    /* height: 50px; */
    /* width: 30%; */
}

.microfono, .video {
    margin: 0 10px;
}

.microfono, .video span{
    color: white;
}



.icone {
    height: 50px;
    width: 30%;

     /* debug */
     background-color: green;
}





.end_meeting {
    height: 50px;
    width: 20%;

     /* debug */
     background-color: cadetblue;
}


