* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    /* parte anteprima live utenti */
.contenitore {
    height: calc(100vh - 100px);
    background-color: black;
}

.contenitore .button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    margin: 10px 0;
}

.utente {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    /* background-color: yellow; */
    margin: 0 auto;
}

.pagina_a_b {
    width: 10%;
    height: 20%;
    background-color: yellow;
}
.client {
    width: 80%;
    height: 80%;
    background-color: blueviolet;
}








    /* barra di navigazione */
.main_nav {
    height: 100px;
    background-color: rgb(77, 76, 76);
    display: flex;
    justify-content: space-between;
}

.mute_stop {
    height: 50px;
    width: 30%;

     /* debug */
     background-color: yellow;
}

.icone {
    height: 50px;
    width: 30%;

     /* debug */
     background-color: green;
}

.end_meeting {
    height: 50px;
    width: 20%;

     /* debug */
     background-color: cadetblue;
}


